body{
	background: url('img/break.jpg');
	background-size: cover;
}
.ms{
	width: 60%;
	border:3px solid brown;
	margin:50px;
	padding: 15px;
}
.p{
	 font-size: 15px;
	 font-family: Comic Sans MS, Comic Sans, cursive;
	

}
.btn{
	 background-color: brown;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}

